.rpmmacros
BUILD/
RPMS/
SRPMS/
Rolls.mk
Rules-install.mk
Rules-linux-centos.mk
Rules-linux.mk
Rules-rcfiles.mk
Rules-scripts.mk
Rules.mk
SOURCES/
SPECS/
_arch
_distribution
_os
disk1/
python.mk
rocks-version-common.mk
rocks-version.mk
roll-profile.mk
roll-slurm.xml
*.spec
*.spec.mk
*.iso
*.tar.bz2
